/* Styles for chairman message page */
.chairman-message {
    margin: 50px 200px;
    padding: 30px;
    font-size: large;
    background-image: url("../img/bg/bg-shape-1.jpg");
    text-align: justify;
}

/* All department page related styles */
.department-header-container{
    max-width: 1400px;
    margin: 0 auto; 
    padding: 10px;
       color:#27477d;
}
.dept-name-bold{
    font-size: x-large;
}
.department-description{
    text-align: justify;
    color: #27477d;
}
.service-facilities-container{
    display: flex; 
    justify-content: space-around;
}
.core-services{
    text-decoration: underline;
}
.facilities-and-technology{
    text-decoration: underline;
}
.patient-care-highlight-container{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #27477d;  
    gap: 50px; 
}

.patient-care-highlight-list{
    list-style: none;
    color: #27477d;
    border: 2px solid #27477d ;
    border-radius: 25px;
    padding: 20px;
    text-align: start;
    
    
}
.patient-care-highlight-list:hover{
    background-color: azure;
}

/* Discharge guide page styles */
.discharge-guide-container{
    max-width: 1400px;
    margin: 0 auto;
    text-align: justify;
    color: #27477d;
}
.discharge-guide-title-for-all-section{
    border: 1px solid black;
    text-align: center;
    padding: 5px;
}
.discharge-guide-list-style{
    max-width: 1300px;
    margin: 0 auto;
    padding: 20px;
}


/* Impatient facilities */
.impatient-facilities-container{
    max-width: 1400px;
    margin: 0 auto;
    text-align: justify;
    color: #27477d;
}
.title-of-all-heading{
    text-align: center;
}
.bed-and-room{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
    border: 1px solid black;
    padding: 20px;
}
.hospital-bed-image{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    
}














/* Responsive designs */

/* responsive for chairman message page */
@media (max-width: 576px) {
    
    .chairman-message{
        margin: 0;
    }

    /* responsive for all department page */
    .department-header-container{
    width: auto;
    margin: 20px;      
}
.service-facilities-container{
    flex-direction: column;
}


.patient-care-highlight-container{
    flex-direction: column;
    margin: 2px;
}
}
    
